<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!--  使用spring来创建对象 在spring中这些都称为bean  -->
    <!--
          类型 对象名 = new 类型();
          Hello hello = new Hello();
          id = 对象名字
          class = new 的对象
          property = 给对象中的属性设置一个值
      -->
    <bean id="hello" class="pojo.Hello">
        <property name="name" value="spring" />
    </bean>
</beans>